---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  src: string;
  alt: string;
  fallbackText: string;
}

const { className = "", src, alt, fallbackText } = Astro.props;
---

<div class={cn("w-28 h-28 rounded-full border overflow-hidden", className)}>
  {
    src ? (
      <img src={src} alt={alt} />
    ) : (
      <span class="w-full h-full bg-muted rounded-full flex items-center justify-center">
        {fallbackText}
      </span>
    )
  }
</div>
