---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD0FBRJHF8"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YD0FBRJHF8");
    </script>
    <BaseHead title={title} description={description} />
  </head>

  <body class={cn("bg-background text-primary font-sans")}>
    <slot />
    <Navbar client:load />
  </body>
</html>
